@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
	--primary-color: #ee5a24;
	--secondary-color: #df4811;
	--primary-text-color: #474747;
	--secondary-text-color: #fff;
	--heading-color: #181818;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	background: whitesmoke;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-rendering: optimizeLegibility;
}

a {
	color: var(--primary-text-color);
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

section {
	padding: 4em 2em;
}

.navbar {
	background: #fff;
	padding: 1em;

	.container {
		display: flex;
		justify-content: space-between;

		.logo:link,
		.logo:visited {
			text-decoration: none;
			font-weight: 700;
			font-size: 100%;
			color: #000;
			letter-spacing: 0.05em;

			span {
				color: var(--primary-color);
			}
		}

		.mobile__menu {
			cursor: pointer;
			display: flex;
			color: var(--primary-text-color);
		}

		.mobile__menu-test {
			transition: transform 0.3s ease-out;
			transform: rotate(180deg);
		}

		nav {
			display: none;
		}
	}
}

.hero {
	text-align: center;

	.col__left {
		.subhead {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 75%;
			letter-spacing: 0.1em;
			color: var(--primary-text-color);
		}

		h1 {
			width: 70%;
			font-size: 150%;
			line-height: 120%;
			margin: 0.7em auto;
			color: var(--primary-text-color);
		}

		.hero__cta {
			display: flex;
			flex-direction: column;

			a.primary__cta:link,
			a.primary__cta:visited {
				background: var(--primary-color);
				color: var(--secondary-text-color);
				padding: 1em 2em;
				width: 150px;
				margin: 0 auto;
				border-radius: 3em;
				font-size: 80%;
				font-weight: 700;
				transition: all 0.3s;

				&:hover,
				&:active {
					background: var(--secondary-color);
				}
			}
			a.video__cta:link,
			a.video__cta:visited {
				display: flex;
				justify-content: center;
				margin-top: 1em;
			}
			i.videocam {
				padding-right: 0.5em;
				color: var(--primary-color);
			}
		}
	}
	.hero__img {
		width: 80%;
		border-radius: 0.4em;
		margin-top: 2.5em;
		transform: scale(1.05);
		opacity: 0.9;
		transition: all 0.3s;

		&:hover {
			transform: scale(1);
			opacity: 1;
		}
	}
}

section.features__section {
	background: var(--secondary-text-color);
	color: var(--secondary-text-color);

	ul.primary__features {
		padding-left: 0.1em;

		i.box {
			display: none;
		}

		li {
			font-size: 100%;
			margin-bottom: 1em;
			color: var(--primary-color);

			i {
				margin-right: 0.7em;
				color: var(--primary-color);
			}
		}
	}
	img.features__section-img {
		display: none;
	}
}

section.testimonials__section {
	background: var(--primary-color);
	color: var(--secondary-text-color);

	ul.primary__testimonials {
		li {
			background: var(--secondary-color);
			text-align: center;
			border: 1px solid transparent;
			margin: 0 auto 3.5em auto;
			border-radius: 0.5em;
			padding: 0em 1em 1em 1em;
			max-width: 80%;
			height: auto;

			img {
				width: 25%;
				height: auto;
				border-radius: 50%;
				margin-top: -1.2em;
				border: 5px solid var(--secondary-color);
			}

			blockquote {
				font-size: 80%;
			}

			cite {
				font-size: 70%;
				margin-bottom: 5em;
			}
		}
	}
}

section.contacts__section {
	.contacts__left {
		width: 100%;

		h2.contact__heading {
			font-size: 100%;
			margin-bottom: 2em;
		}

		form {
			display: flex;
			flex-direction: column;
			margin-bottom: 3em;
			width: 450px;

			label {
				font-size: 78%;
				margin-bottom: 0.5em;
				color: var(--primary-text-color);
			}

			input {
				margin-bottom: 1em;
				padding: 0.5em;
				border: 1px solid gray;
				border-radius: 0.3em;
			}

			textarea {
				margin-bottom: 3em;
				border: 1px solid gray;
				border-radius: 0.3em;
			}

			input.send__message-cta {
				background: var(--primary-color);
				color: var(--secondary-text-color);
				padding: 1em 2em;
				width: 140px;
				margin-left: 0.1em;
				border-radius: 3em;
				font-size: 80%;
				font-weight: 700;
				border: none;
				cursor: pointer;
				transition: all 0.3s;

				&:hover,
				&:active {
					background: var(--secondary-color);
				}
			}
		}
	}
	iframe {
		width: 100%;
		height: 20em;
	}
}

nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 999;
	width: 35%;
	top: 0;
	right: 0;
	background: var(--primary-color);
	height: 100vh;
	padding: 1em;
	-webkit-animation: fadeInDown;
	animation: fadeInDown;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;

	.mobile__exit {
		text-align: end;
		padding: 0.1rem;
		color: white;
	}

	ul.primary__nav {
		margin-top: 1em;

		li {
			display: flex;
			justify-content: flex-end;

			a {
				color: var(--secondary-text-color);
				font-size: 85%;
				padding: 0.5rem;
				transition: all 0.5s;
				&:hover,
				&:active {
					font-weight: bold;
				}
			}
		}
	}

	ul.secondary__nav {
		// margin-top: 5em;

		li {
			display: flex;
			justify-content: flex-end;
			a {
				color: var(--secondary-text-color);
				font-size: 85%;
				padding: 0.5rem;
				transition: all 0.5s;
				&:hover,
				&:active {
					font-weight: bold;
				}
			}
		}
	}
}

.sticky {
	background: whitesmoke;
	z-index: 999;
	position: fixed;
	width: 100%;
}

// Media Queries

@media only screen and (min-width: 768px) {
	body {
		font-size: 18px;
	}

	section {
		padding: 4em 3em;
	}

	.container {
		max-width: 1140px;
		margin: 0 auto;
	}

	.mobile__menu,
	.mobile__exit {
		display: none !important;
	}

	.navbar nav {
		display: flex !important;
		background: none;
		width: 100%;
		height: auto;
		padding: 0;
		flex-direction: row;
		position: unset;

		ul.primary__nav {
			display: flex;
			margin: 0;
			padding-left: 3em;
			padding-right: 7em;

			li {
				display: flex;

				a:link,
				a:visited {
					color: var(--primary-text-color);
					font-size: 85%;
					padding: 0.6rem;
					margin-top: -0.6em;
					transition: all 0.3s;
					&:hover,
					&:active {
						font-weight: normal;
						color: var(--secondary-color);
					}
				}

				a.current:link,
				a.current:visited {
					font-weight: bold;
				}
			}
		}

		ul.secondary__nav {
			display: flex;
			margin: 0;

			li {
				display: flex;

				a:link,
				a:visited {
					color: var(--primary-text-color);
					font-size: 85%;
					padding: 0.6rem;
					margin-top: -0.6em;

					&:hover,
					&:active {
						font-weight: normal;
						color: var(--secondary-color);
					}
				}

				a.premium-cta:link,
				a.premium-cta:visited {
					background: #fff;
					border: 2px solid var(--secondary-color);
					font-weight: bold;
					width: 100%;
					border-radius: 3em;
					margin-left: 1rem;
					display: inline-block;
					color: var(--primary-color);
					transition: all 0.3s;
					-webkit-animation-name: heartBeat;
					animation-name: pulse;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-iteration-count: 2;
					animation-iteration-count: 2;

					&:hover,
					&:active {
						color: #fff;
						background: var(--secondary-color);
					}
				}
			}
		}
	}

	.hero {
		.col__left {
			.subhead {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 85%;
				letter-spacing: 0.1em;
				color: var(--primary-text-color);
			}

			h1 {
				font-size: 170%;
				margin: 0.9em auto;
			}

			.hero__cta {
				a.primary__cta:link,
				a.primary__cta:visited {
					margin-bottom: 2em;
				}
			}
		}
	}

	section.features__section {
		background: var(--secondary-text-color);
		color: var(--secondary-text-color);

		.container {
			position: relative;

			ul.primary__features {
				display: flex;

				div.primary__features--1 {
					margin-right: 6em;
				}

				i {
					font-size: 120%;
				}
			}

			img.features__section-img {
				display: block;
				position: absolute;
				width: 190px;
				height: auto;
				right: -3em;
				top: 5em;
			}
		}
	}

	section.testimonials__section {
		padding: 4em 0em;

		ul.primary__testimonials {
			display: flex;
			justify-content: space-around;

			li {
				background: var(--secondary-color);
				text-align: center;
				border: 1px solid transparent;
				margin: 2em 1em 3.5em 1em;
				border-radius: 0.5em;
				padding: 0em 3em 1em 3em;
				width: 100%;
				height: auto;

				img {
					width: 45%;
					height: auto;
					border-radius: 50%;
					margin-top: -1.2em;
					border: 5px solid var(--secondary-color);
				}

				blockquote {
					font-size: 85%;
					margin-bottom: 1.3em;
				}

				cite {
					font-size: 70%;
					margin-bottom: 5em;
				}
			}
		}
	}

	section.contacts__section {
		.contacts__left {
			width: 100%;

			h2.contact__heading {
				font-size: 100%;
				margin-bottom: 2em;
			}

			form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-bottom: 3em;
				// width: 450px;

				label {
					font-size: 78%;
					margin-bottom: 0.5em;
					color: var(--primary-text-color);
				}

				input {
					margin-bottom: 1em;
					padding: 0.5em;
					border: 1px solid gray;
					border-radius: 0.3em;
				}

				textarea {
					margin-bottom: 3em;
					border: 1px solid gray;
					border-radius: 0.3em;
				}

				input.send__message-cta {
					background: var(--primary-color);
					color: var(--secondary-text-color);
					padding: 1em 1em;
					width: 140px;
					margin-left: 0.1em;
					border-radius: 3em;
					font-size: 80%;
					font-weight: 700;
					border: none;
					cursor: pointer;
					transition: all 0.3s ease-out;

					&:hover,
					&:active {
						transform: scale(1.05);
						background: var(--secondary-color);
					}
				}
			}
		}
		iframe {
			width: 100%;
			height: 20em;
		}
	}
}

@media only screen and (min-width: 1024px) {
	body {
		font-size: 19px;
	}

	section {
		padding: 4em 3em;
	}

	.container {
		max-width: 1140px;
		margin: 0 auto;
	}

	.navbar nav {
		ul.primary__nav {
			margin-right: 12em;
		}
	}

	.hero {
		.container {
			display: flex;
			justify-content: space-around;
			align-items: center;

			.col__left {
				.subhead {
					font-size: 90%;
					text-align: center;
					margin: 0 5em;
				}

				h1 {
					font-size: 250%;
					margin: 1em auto;
					width: 90%;
				}

				.hero__cta {
					a.primary__cta:link,
					a.primary__cta:visited {
						margin-bottom: 0.5em;
						margin: 0 auto;
					}
				}

				a.video__cta:link,
				a.video__cta:visited {
					margin: 1em auto;
				}
				i.videocam {
					color: var(--primary-color);
				}
			}
			.hero__img {
				width: 60%;
				border-radius: 0.4em;
				margin-top: 2.5em;
				transform: scale(1.05);
				opacity: 0.9;
				transition: all 0.3s;

				&:hover {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}

	section.features__section {
		.container {
			position: relative;

			ul.primary__features {
				position: relative;
				margin-top: 4em;
				animation: fadeIn;
				animation-duration: 0.5s;

				.design {
					position: absolute;
					top: -10.5em;
					left: -2.5em;
					background: var(--secondary-color);
					height: 8.5em;
					width: 90px;
				}

				.box {
					position: absolute;
					top: -10em;
					left: -3em;
					background: var(--primary-color);
					height: 8.5em;
					width: 90px;
				}
			}

			img.features__section-img {
				position: absolute;
				width: 230px;
				height: 230px;
				right: -3em;
				top: 1em;
			}
		}
	}

	section.testimonials__section {
		ul.primary__testimonials {
			li.testimonial__link {
				transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
				&:hover {
					transform: scale(1.05);
				}
				img {
					margin-top: -2.1em;
					width: 35%;
				}

				cite {
					font-size: 73%;
				}
			}
		}
	}

	section.contacts__section {
		.container {
			display: flex;
			justify-content: space-around;
			align-items: center;

			.contacts__left {
				h2.contact__heading {
					font-size: 120%;
				}

				form {
					label {
						font-size: 80%;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 20px;
	}

	section {
		padding: 4em 3em;
	}

	.container {
		max-width: 1140px;
		margin: 0 auto;
	}

	.navbar nav {
		ul.primary__nav {
			padding-left: 6em;

			li {
				padding: 0 0.8em;
			}
		}

		ul.secondary__nav {
			a.premium-cta:link,
			a.premium-cta:visited {
				margin-left: 1em;
			}
		}
	}

	section.features__section {
		padding: 3.5em 3em;
		.container {
			position: relative;

			ul.primary__features {
				position: relative;
				margin-top: 1em;

				li {
					margin-left: 4em;
				}

				.design {
					position: absolute;
					left: -7.5em;
				}

				.box {
					position: absolute;
					left: -7em;
				}
			}

			img.features__section-img {
				position: absolute;
				width: 270px;
				height: 270px;
				right: -7.5em;
				top: 1em;
			}
		}
	}

	section.testimonials__section {
		ul.primary__testimonials {
			margin-top: 4em;

			li {
				img {
					margin-top: -2.1em;
					width: 35%;
				}

				cite {
					font-size: 73%;
				}
			}
		}
	}
}
